Package: allsafe-access-dbgsym
Package-Type: ddeb
Source: allsafe-access
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Daniel Destaw daniel@allsafex.com
Installed-Size: 23695
Depends: allsafe-access (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for allsafe-access
Build-Ids: 51445831ecfcc5f11509fc25dbec23abab3fbfe1 6b3d6b9df3cdacdc50854bc78bf35cfda0cc60a5 7e4024c9902afb906fa9636d49dc37239eddb897 b643347ef05dad3ceacd79b9d486ba374a524747 dc5e00dd741e391c68012bb6e6ea43b94d4ef4a3
