Package: allsafe-access
Version: 1.0.0
Architecture: amd64
Maintainer: Daniel Destaw www.allsafex.com
Installed-Size: 44901
Depends: libc6 (>= 2.34)
Section: utils
Priority: optional
Homepage: https://github.com/daniel-destaw/allsafe-access
Description: Allsafe Access Tools
 This package contains the Allsafe admin, agent, auth, CLI, and proxy tools.
